<br/>
<div class="row">
	<div class="col-md-3">
		<app-company-detail [customerId]="customerId" [isDetail]="true" ></app-company-detail>
	</div>
	<div class="col-md-9"> 
		<app-financial-analysis  ></app-financial-analysis>
		<br/><br/>
		<app-rating></app-rating>
	</div>
</div>