<div *ngIf="customer" class="company-detail-container">
    <div class="header">
    		<div class="avatar">
    			<avatar [name]="customer.customerName" [displayType]="'circle'"></avatar>
    		</div>
    		
        <h2>{{customer.customerName}}</h2>
        <address>{{customer.addressLine1}}
            <br/>{{customer.location}}</address>
    </div>
    <div class="details">
        <table class="table">
            <tbody>
                <tr>
                    <td width="180">Customer No.</td>
                    <td><strong>{{customer.customerNumber}}</strong></td>
                </tr>
                <tr *ngIf="customer.taxNumber">
                    <td>Tax No.</td>
                    <td><strong>{{customer.taxNumber}}</strong></td>
                </tr>
                <tr *ngIf="isDetail && customer.childCustomerNumbers &&  customer.childCustomerNumbers.length>0">
                    <td>No. of borrowers in group</td>
                    <td><strong>{{customer.childCustomerNumbers.length}} </strong><a [routerLink]="['groups']">View borrower<span *ngIf="customer.childCustomerNumbers.length>1">s</span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="details">
        <table class="table">
            <tbody>
                <tr *ngIf="customer.legalForm">
                    <td width="180">Legal form</td>
                    <td><strong>{{customer.legalForm}}</strong></td>
                </tr>
                <tr>
                    <td>Public company</td>
                    <td>
                    	<strong><div *ngIf="customer.publicCompany; else elseBlock">YES</div>
											<ng-template #elseBlock>NO</ng-template></strong>
										</td>
                </tr>
                <tr *ngIf="customer.industryCodeISIC">
                    <td>Industry Code (ISIC)</td>
                    <td><strong>{{customer.industryCodeISIC}}</strong></td>
                </tr>
                <tr *ngIf="customer.industryCodeLocal">
                    <td>Industry Code (Local)</td>
                    <td><strong>{{customer.industryCodeLocal}}</strong></td>
                </tr>
                <tr *ngIf="customer.customerType">
                    <td>Customer Type</td>
                    <td><strong>{{customer.customerType}}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="details">
        <table class="table">
            <tbody>
                <tr *ngIf="customer.dateOfFoundation">
                    <td width="180">Founded In</td>
                    <td><strong>{{customer.dateOfFoundation | date:'MM/dd/yyyy'}}</strong></td>
                </tr>
                <tr *ngIf="customer.startDateOfBusinessRelationship">
                    <td>Business relationship since</td>
                    <td><strong>{{customer.startDateOfBusinessRelationship | date:'MM/dd/yyyy'}}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="comments" *ngIf="isDetail && customer.comment">
        <div>
            <strong>Industry and Market Comment</strong>
            <p>
                {{customer.comment}}
            </p>
        </div>
    </div>
</div>
